@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffebcc;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(51, 142, 118);
    text-decoration: none; 
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
}

longbutton{
    padding: 15px 25px;
    background-color: #80AF85;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    color: white;
    
}

closet_header{
    display: flex;
    justify-content: center;
    align-items: center;

}


.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 10px 30px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 15px 25px;
    background-color: rgb(51, 142, 118);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

p {
    font-family: "Montserrat", sans-serif;
}

#tierlist {
    height: 65vh;
    display: flex;
    flex-direction:column;

    align-items: center;
    justify-content: center;
    justify-content: space-between;
    float: left;
    opacity: 0.8
}

.tier {
    height: 200px;
    display: flex;
    width: 100%;
    background-color:#80AF85;
    opacity: 1;
}

button:hover {
    background-color: rgba(0, 136, 169 0.8);
}


p1{ 
    font-family: "Montserrat", sans-serif;
    text-align: left; !important
    align-items: left; !important
    padding: 10px; !important
}